.bold-line {
	width: 100%;
	height:40px;
	border: solid 0px #FFBF00;
	background-color: #FFBF00;
	margin:0px;
}
.bold-line a{
	position:absolute;
	top:160px;
	right:0px;
	padding-right:40px;
}
.bold-line a:link{
	color:#804000;
}
.bold-line a:visited{
	color:#804000;
}
article {

}
body {
	margin: 0px;
}
.page-wrap{
	position:relative;
	width:100%;
}

<!--notice,login,mypage,gRecommend에 사용됨--> 