.bold-line {
	display: block;
	width: 100%;
	border: solid 2px #FFBF00;
	background-color: #FFBF00;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
}
.bold-line a{
	padding-right:40px;
}
.bold-line a:link{
	color:#804000;
}
.bold-line a:visited{
	color:#804000;
}
article {
	margin-top: 150px;
}
body {
	margin: 0px;
}
.page-wrap{
	position:relative;
	width:100%;
}

<!--notice,login,mypage,gRecommend에 사용됨--> 