.bold-line {
	border: solid 2px #FFBF00;
	background-color: #FFBF00;
}
article {
	margin-top: 130px;
}
body {
	margin: 0px;
}
.page-wrap{
	position:relative;
	width:100%;
}

<!--notice,login,mypage,gRecommend에 사용됨-->