.top3-wrap{
	margin: 0 auto;
	width:1020px;;
	height:300px;
}
.top3{
	width:1020px;
}
.slides{
	width:300px;
	height:200px;
	border:0px solid #000000;
	background-color:#000000;
	float:left;
	margin-left:30px;
	margin-top:50px;
	overflow:hidden;
	display:flax;
	align-items: center;
	justify-content: center;
}
.slides:hover{
	border: 8px solid #FFBF00;
	
}
.top3Img img:hover{
	opacity:50%;
}
.ranking{
	position: absolute;
}
.top3Img{
	z-index:1;
}
.top3GName{
	position: absolute;
	top:0;
	width: 300px;
	height: 200px;
	z-index: 3;
	
}
.top3GName p{
	color: #FFFFFF;
	text-align:center;
	padding-top: 100px;
}
.slides a img{
	width:300px;
}
.ranking img {
	position: absolute;
	top: -30px;
	left: -40px;
	width:100px;
}
