.header{
	width:100%;
}
.header-wrap{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
	padding-top:50px;

}
.headLogo{
	float: left;
	width:260px;
	height:100px;
}
.headLogo img{
	width:260px;
}
.search-wrap{
	position: relative;
	right: 10px;
	width:600px;
	height:50px;
	border: 1.5px solid #FFBF00;
	background-color: #FFFFFF;
	margin-left:20px;
	margin-top:20px;
	float: left;
}

.search-box{
	width:85%;
	height: 50px;
	padding:10px;
	float:left;
	border: 0;
	outline: none;
	font-size: 12pt
	
}

.gsubmit-button{
	width: 13%;
	height: 50px;
	outline:none;
	float: right;
	border:0;
	background-color: #FFBF00;
	font-size: 12pt;

}
 