body {
	background-color:#D7CEC4;
	margin:0px; 
	<!--임시 컬러-->
}

.mainLogo img{
	width:300px;
}


.main-search-wrap {
	position: relative;
	text-align:center;
	color: #804000;
	width:100%;
	padding-top:10px;
	margin-top: 100px;
	}
.main-box{
	margin:0 auto;
	border: 5px solid #FFFFFF; 
	width: 500px;
	height: 200px;
	padding-top: 25px; 
}
#main-search {
	width:450px;
	height:45px;
	text-indent: 5pt;
	font-size: 15pt;
	margin: 15px;
	border: 2px solid #FFBF00;
	background-color: #FFFFFF;
}
 