.nav{
	z-index:3;
	position: fixed;
	top: 0px;
	right: 0px;
	min-height: 12px;
	background-color: #FFBF00;
}
.nav-wrap{
	height:100%;

}
.nav-li{
	list-style:none;
	margin:0px;
	padding:10px;
	padding-right:20px;
}

.nav-li li{
	float:left;
	margin-left: 10px;
	font-size: 10pt;
	padding-bottom:10px;
}

.nav-li li a:link{
	color: #804000;
	text-decoration: none;
}

.nav-li li a:visited{
	color: #804000;
}