.notice-wrap{
	padding-top:50px;
	padding-bottom:100px;
	padding-left:130px;
	padding-right:150px;
}

.listNo {
	width:12%;
	min-width:60px;
	min-height:10px;
}
.listTitle {
	width:53%;
	min-width:200px;
}
.listWriter {
	width: 15%;
	min-width:70px;
}
.listDate {
	width: 20%;
	min-width:100px;
	}

.notice-tbl caption {visibility:hidden;overflow:hidden;width:1;height:1;font-size:1;line-height:0}
.notice-tbl {border-top: 2px solid black; border-bottom: 1px solid black; width:100%}
 