hr {
	border: solid 2px #FFBF00; 
}
article {
	margin-top: 110px;
}
.notice-wrap{
	position:relative;
	width:100%;
	margin:50px;
	margin-left:50px;
	
}
#notice {
	left:10%}
#listNo {width:15%}
#listName {width:50%}
#listWriter {width: 15%}
#listDate {width: 25%}
.notice_tbl caption {display: none}
.notice_tbl {border-top: 2px solid black; border-bottom: 1px solid black;margin: auto; width:80%;}
